.api-accordion .api-accordion--header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightslategrey;
  padding: 1REM;
  border-radius: 3px;
}

.api-accordion--visible {
  display: block;
}

.api-accordion--hidden {
  display: none;
}