.page--spell-search {
  margin: 3rem;
}
.list--spell-search {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}

.filter--spell-search {
  margin: 3rem 0;
}

